

   	* {
   	  box-sizing: border-box;
   	  margin: 0px;
   	  padding: 0px;
   	}
    /*header*/
    #header-nav {
      font-family: 'Fira Sans', sans-serif;
      font-size: 28pt;
      background-color: darkorange;
      color: darkcyan;
      border-radius: 0;
      border: 0;
    }
    #logo-img {
      background: url(.."\images\logochinese.png") no repeat;
      width: 50px;
      height: 50px; 
      margin: 10px 15px 10px 0;
    }
    .navbar-brand {
      padding-top: 20px;
    }

		 h1 {
			font-family: 'Fira Sans', sans-serif;
			font-size: 1em;
      color: darkcyan;
      text-transform: uppercase;
      text-align: left;
      text-shadow: 1px 1px 1px #222;
			margin-top: 0;
      margin-bottom: 0;
      line-height: .75;
    }

    .navbar-toggle {
      position: relative;
      float: right;
      padding: 10px 10px;
      margin-top: -60px;
      margin-right: 15px;
      margin-bottom: 8px;
      background-color: transparent;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
    }
    .navbar-toggle:focus {
      outline: 0;
    }
    .navbar-toggle .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
    }
    .navbar-toggle .icon-bar + .icon-bar {
      margin-top: 4px;
    }
    .navbar-nav {
      margin: 7.5px -15px;
    }
    .navbar-nav li a {
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 20px;
    }
    #nav-list {
      margin-top: 10px;
      font-size: 10px;
      text-align: center;
    }
    #nav-list a {
      text-align: center;
      color: darkcyan;
    }
    #nav-list a:hover {
      background: #951C49;
      text-align: center;
    }
    #nav-list a span {
      font-family: 'Fira Sans', sans-serif;
      font-size: 1.8em;
      text-align: center;
    }
    #phone {
      margin-top: 5px;
    }
    #phone a {
      text-align: right;
      padding-bottom: 0;
    }
    #phone div {
      color: darkcyan;
      text-align: center;
      padding-right: 15px;
    }
    .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
      border: 1px solid darkcyan;
    }
    #collapsable-nav a {
      font-size: 1.2em;
    }
    #collapsable-nav a span {
      font-size: 1em;
      margin-right: 5px;
    }
      body {
      background: darkkhaki;
    }
		p {
		  font-family: 'Fira Sans', sans-serif;
			font-size: 20px;
      text-align: center;
			color: darkorange;
			background-color: darkcyan;
      width: 350px;
      height: 290px;
		  border: 6px double darkorange;
		  overflow: auto;
      margin-left: auto;
      margin-right: auto;
			margin: 0px;
      padding: 37px;	
		}
    h3 {
      font-family: 'Fira Sans', sans-serif;
      font-size: 30px;
      color: darkcyan;
      text-align: center;
    }
		#time {
			color: darkslateblue;
			font-size: 22pt;
			font-family: 'Fira Sans', sans-serif;
			border: 4px double darkorange;
			background-color: darkcyan;
			text-align: center;
			margin-left: 100px;
      width: 150px;
			height: 40px;
      margin-right: auto;
			position: absolute;
		}
    footer {
      color: darkslateblue;
      font-size: 18pt;
      font-family: 'Fira Sans', sans-serif;
      text-align: center;
      padding: 20px 20px 20px 20px;
    }
    }
    @media(min-width: 992px){
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
        float: left;
        padding: 15px;
    }
       #logo-img {
        background: url() no-repeat;
        width: 100px;
        height: 100px;
        margin:  5px 5px 5px 0;
      }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
      padding: 15px;
    }
     .navbar-toggle {
        display: none;
      }
  .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 75%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }
  }

@media(max-width: 767px){
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
      padding: 15px;
    }
     .navbar-brand {
        padding-top: 10px;
        height: 80px;
      }
      .navbar-brand h1 { 
      padding-top: 10px;
      font-size: 5vw;
      }
      #collapsable-nav a {
        font-size: 1.2em;
      }
      #collapsable-nav a span {
        font-size: 1em;
        margin-right: 5px;
      }
.col-sm-1 {
      width: 8.33%;
    }
    .col-sm-2 {
      width: 16.66%;
    }
    .col-sm-3 {
      width: 25%;
    }
    .col-sm-4 {
      width: 33.33%;
    }
    .col-sm-5 {
      width: 41.66%;
    }
    .col-sm-6 {
      width: 50%;
    }
    .col-sm-7 {
      width: 58.33%;
    }
    .col-sm-8 {
      width: 66.66%;
    }
    .col-sm-9 {
      width: 75%;
    }
    .col-sm-10 {
      width: 83.33%;
    }
    .col-sm-11 {
      width: 91.66%;
    }
    .col-sm-12 {
      width: 100%;
    }
  }
